<% question.answers.each do |answer| %>
  <div class="mb-2">
    <% if answer.user == current_user %>
      <%= link_to "", question_answer_path(question.id, answer), method: :delete, remote: true, class: "delete-answer" %>
    <% end %>
    <span>
      <strong>
        <%= link_to answer.user.name, user_path(answer.user), class: "no-text-decoration black-color" %>
      </strong>
    </span>
    <span><%= answer.answer %></span>
  </div>
<% end %>